@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  background-color: #1D1043;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  margin-top: 80px;
}

.content-button-bottom{
  position: absolute;
  bottom: 40px;
}

.button-bottom {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
}

.arrow-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-down{
  width: 30px;
  filter: invert(1);
  cursor: pointer;
}

.menu-img {
  background-color: transparent;
  border: none;
  margin: 20px;
  cursor: pointer;
}

.menu-display-flex{
  display: flex;
  align-items: center;
  font-family: 'Gruppo', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 5px;
}

.Up{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  position: absolute;
  top: -40px;
}

.content-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-upArrow{
  width: 50px;
  filter: invert();
  margin-bottom: -13px;
  cursor: pointer;
}

